Inventaris/bin
Inventaris/obj

*.user
*.suo
_ReSharper.*
*.sln.cache
Inventaris/obj/Debug/Inventaris.BarangKeluar.resources
.vs/Inventaris/v16/.suo
Inventaris/obj/Debug/Inventaris.BarangKeluar.resources
Inventaris/obj/Debug/Inventaris.BarangMasuk.resources
Inventaris/obj/Debug/Inventaris.MasterAlasan.resources
Inventaris/obj/Debug/Inventaris.MasterClient.resources
Inventaris/obj/Debug/Inventaris.MasterDataToko.resources
Inventaris/obj/Debug/Inventaris.MasterDetailLokasi.resources
Inventaris/obj/Debug/Inventaris.MasterKondisi.resources
Inventaris/obj/Debug/Inventaris.MasterLokasi.resources
Inventaris/obj/Debug/Inventaris.MasterStatus.resources
Inventaris/obj/Debug/Inventaris.MasterTipe.resources
Inventaris/obj/Debug/Inventaris.MasterUser.resources
Inventaris/obj/Debug/Inventaris.MenuUtama.resources
Inventaris/obj/Debug/Inventaris.Rental.resources
Inventaris/obj/Debug/Inventaris.Repair.resources
Inventaris/obj/Debug/Inventaris.vbproj.FileListAbsolute.txt
Inventaris/obj/Debug/Inventaris.vbproj.GenerateResource.cache
.vs/Inventaris/v16/.suo
Inventaris/obj/Debug/Inventaris.vbproj.GenerateResource.cache
